<%-include("includes/head")%>

    <title><%= username %> todos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <a href="" class="logo">MakeNotes</a>
      <nav>
        <a href="">Dashboard</a>
        <a class="ADD btn" href="/<%=username  %>/add/<%=id%>">Add tasks</a>
      </nav>
    </header>

    <section class="works">
      <div class="task">
        <table style="width: 100%">
          <tr>
            <th class="head" colspan="2">Tasks</th>
          </tr>
          <% if(todo.length > 0){ %> <% for(let list of todo){ %>
          <tr>
            <td>
              <div class="tasks">
                <!-- <h3><%= list.id + 1 %></h3> -->
                <h3><%= list.title %></h3>
                <p><%= list.des %></p>
                <p><%= list.date %></p>
              </div>
              <div class="btns">
                <form
                  method="post"
                  action="/delete/<%=username %>/<%= id %>/<%= list.id %>?_method=DELETE"
                >
                  <button class="icon">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </form>
                <form
                method="get"
                action="/edit/<%=username%>/<%= id %>/<%=list.id%>"
              >
                <button class="icon">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </form>
                <!-- <a
                  href="/edit/<%=username%>/<%= id %>/<%=list.id%>"
                  class="icon"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a> -->
              </div>
            </td>
          </tr>
          <% } %> <% }else{ %>
          <tr>
            <td>
              <div class="tasks">
                <h1>Nothing to show</h1>
              </div>
            </td>
          </tr>
          <% } %>
        </table>
      </div>
    </section>
  </body>
</html>
